@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  /* min-width: 320px;
  min-height: 100vh; */
  background-color: #f8f4f0;
  /* font-family: 'Jost', sans-serif; */
  color: black;
  font-size: 1.4rem;
}

.nav {
  position: fixed;
  top: 0;
}

.home {
  background-image: url(../public/montreal.png);
  background-size: cover;
  background-attachment: fixed;
}

.bothTitles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 17rem 8rem 28rem 8rem;
}

.headerTitle {
height: 100%;
width: 100%;
}

#project {
  display: flex;
  justify-content: center;
}

.projectContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-content {
  font-size: 1.4rem;
}

.card-reveal {
  font-size: 1.4rem;
}

.card {
  margin: 4rem 1rem;
  height: 20%;
  width: 350px;
}

.card-icon {
  width: 2.5rem;
  height: 2rem;
  margin-right: 10px;
}

.tech-icon-container {
  display: inline-flex;
  flex-direction: row;
}

.tooltip .tech-icon {
  /* visibility: hidden; */
  opacity: 0.5;
  width: 120px;
  text-align: center;
  border-radius: 6px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1.0;
  background-color: #e34c26;
  transition: background-color 1s ease-out 100ms;
}

.tooltip:hover .tooltiptext2 {
  visibility: visible;
  opacity: 1.0;
  background-color: #264de4;
  transition: background-color 1s ease-out 100ms;
}

.tooltip:hover .tooltiptext3 {
  visibility: visible;
  opacity: 1.0;
  background-color: #D77A89;
  transition: background-color 1s ease-out 100ms;
}

.tooltip:hover .tooltiptext4 {
  visibility: visible;
  opacity: 1.0;
  background-color: #3490dc;
  transition: background-color 1s ease-out 100ms;
}

.tooltip:hover .tooltiptext5 {
  visibility: visible;
  opacity: 1.0;
  background-color: #563d7c;
  transition: background-color 1s ease-out 100ms;
}

.tooltip:hover .tooltiptext6 {
  visibility: visible;
  opacity: 1.0;
  background-color: #78cff5;
  transition: background-color 1s ease-out 100ms;
}

.tooltip:hover .tooltiptext7 {
  visibility: visible;
  opacity: 1.0;
  background-color: #F0DB4F;
  transition: background-color 1s ease-out 100ms;
}

.tooltip:hover .tooltiptext8 {
  visibility: visible;
  opacity: 1.0;
  background-color: #5c4848;
  transition: background-color 1s ease-out 100ms;
}

.tooltip:hover .tooltiptext9 {
  visibility: visible;
  opacity: 1.0;
  background-color: darkslategray;
  transition: background-color 1s ease-out 100ms;
}

.tooltip:hover .tooltiptext10 {
  visibility: visible;
  opacity: 1.0;
  background-color: #68A063;
  transition: background-color 1s ease-out 100ms;
}

.tooltip:hover .tooltiptext11 {
  visibility: visible;
  opacity: 1.0;
  background-color: #589636;
  transition: background-color 1s ease-out 100ms;
}

.tooltip:hover .tooltiptext12 {
  visibility: visible;
  opacity: 1.0;
  background-color: #F29111;
  transition: background-color 1s ease-out 100ms;
}

.tooltip:hover .tooltiptext13 {
  visibility: visible;
  opacity: 1.0;
  background-color: #A8986F;
  transition: background-color 1s ease-out 100ms;
}

.tooltip:hover .tooltiptext14 {
  visibility: visible;
  opacity: 1.0;
  background-color: #61dbfb;
  transition: background-color 1s ease-out 100ms;
}

.tech-icon {
  display: flex;
}

.card {
  /* filter: drop-shadow(30px 10px 4px #4444dd); */
  filter: drop-shadow( 1rem 1rem 10px);
}

.card-content {
  font-size: 1.2rem;
  font-style: italic;
  /* background-color: #453F41; */
  color: black;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
color: black;
}

.card .card-action:hover a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
/* opacity: 0.5; */
color: black;
}

.card-action {
  display: flex;
  justify-content: center;
  background-color: #453F41;
}

.aboutCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutPicture {
  border-radius: 50%;
  width: 60%;
}

.aboutHeading {
  background-image: url(../public/cnTower.JPG);
  display: flex;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 4rem;
  color: white;
  padding: 16rem;
}

.aboutContent {
  margin: 3rem 3rem 3rem 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutSpace {
  padding: 7rem;
}

.Collapsible {
  color: black;
  margin: 1rem;
  font-size: 2rem;
}

.collapseP {
  font-size: 1.35rem;
}

.collapseP:hover {
  font-weight: bold;
  font-size: 1.35rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactHead {
  background-image: url(../public/vietnam.png);
  display: flex;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 4rem;
  color: white;
  padding: 16rem;
}

.contact-content-container {
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.contact-icon {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem 0 2rem;
}

.contactLink {
  text-align: left;
  padding-left: 1rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-icon {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 10px;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin: 5px;
}

/* img {
  opacity: 0.5;
  background: transparent;
  transition: background-color 1s ease-out 100ms;
}

img:hover {
  opacity: 1.0;
background-color: blue;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


/* @media all and (max-width: 600px) and (min-width: 100px) {
  .card {
    background: #ccc;
  }
} */